## Pandas

## Membuat Series ndarray

In [4]:
import pandas as pd 
import numpy as np 
datanp = np.array(['x', 'y', 'z', 'a', 'b'])
dts = pd.Series(datanp)
print(dts)

0    x
1    y
2    z
3    a
4    b
dtype: object

In [10]:
datadict = {'a':0.7, 'b':2.,'c':1.5,'d':10}
dtsdict = pd.Series(datadict)
print(dtsdict)

a     0.7
b     2.0
c     1.5
d    10.0
dtype: float64

In [11]:
datadict = {'a':0.7, 'b':2.,'c':1.5,'d':10}
dtsdict = pd.Series(datadict, index=['a','b','d'])
print(dtsdict)

a     0.7
b     2.0
d    10.0
dtype: float64

In [17]:
dtsscalar = pd.Series(5,index=[0,1,2,3,4,5,6,7,8,9,10,11])
print(dtsscalar)

0     5
1     5
2     5
3     5
4     5
5     5
6     5
7     5
8     5
9     5
10    5
11    5
dtype: int64

In [20]:
## ambil data 
import numpy as np 
datanp = np.array(['x', 'y', 'z', 'a', 'b'])
dts =pd.Series(datanp)
print(dts)

0    x
1    y
2    z
3    a
4    b
dtype: object

In [23]:
print(dts[0])
print(dts[0:3]) # 3 disini tidak termasuk 
print(dts[:4]) # 4 disini tidak termasuk

x
0    x
1    y
2    z
dtype: object
0    x
1    y
2    z
3    a
dtype: object

In [24]:
import numpy as np 
datanp = np.array([10,20,30,40,50,60])
dts =pd.Series(datanp,index=['a','b','c','d','e','f'])
print(dts)

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [27]:
print(dts['d'])
print(dts['d' : 'f']) #berbeda apabila yang diambil index dengan angka pada contoh sebelumnya, disini d ikut sampai f

40
d    40
e    50
f    60
dtype: int64

In [30]:
print(dts.values)
dts.index

[10 20 30 40 50 60]

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [ ]:
#allowed input are: 
# an integer e.g. 5
# a list of array of....
dts.iloc

In [ ]:
#A boolean array of the same length as the axis being sliced 
dts.loc

In [37]:
dats=pd.Series([1,2,3,4,5,6], index=[1,2,3,4,5,6])
print(dats)
print(dats.index)

1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64
Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [45]:
#print(dats.loc[5])
## print(dats.loc[2,6,9])
print(dats.loc[2:6])

kondisi1 = dats.values>4
print(dats.loc[kondisi1])

print(dats.iloc[2]) # ini mengambil index yang ke 2
print(dats[2]) # ini mengambil label 2

2    2
3    3
4    4
5    5
6    6
dtype: int64
5    5
6    6
dtype: int64
3
2

## Data Frame

In [49]:
import pandas as pd 

datadict = {'name' :['Budi', 'Iwan', 'Joko', 'Wati'],
            'age'  :[30,50,35,40], 
            'adrees': ['DKI','Bandung','Bogor','Bekasi'],
            'qualification':['Msc','MA','Mca','Phd']
            }
df = pd.DataFrame(datadict)
print(df)

   name  age   adrees qualification
0  Budi   30      DKI           Msc
1  Iwan   50  Bandung            MA
2  Joko   35    Bogor           Mca
3  Wati   40   Bekasi           Phd

In [51]:
df[['name', 'qualification']]

   name qualification
0  Budi           Msc
1  Iwan            MA
2  Joko           Mca
3  Wati           Phd

In [54]:
df.loc[df['qualification']  == 'Phd']
# df.loc[]

   name  age  adrees qualification
3  Wati   40  Bekasi           Phd

In [56]:
for i,j in df.iterrows():
    print(i,j)
    print()

0 name             Budi
age                30
adrees            DKI
qualification     Msc
Name: 0, dtype: object

1 name                Iwan
age                   50
adrees           Bandung
qualification         MA
Name: 1, dtype: object

2 name              Joko
age                 35
adrees           Bogor
qualification      Mca
Name: 2, dtype: object

3 name               Wati
age                  40
adrees           Bekasi
qualification       Phd
Name: 3, dtype: object

In [57]:
dfangka = pd.DataFrame({'x':[1,2], 'y':[10,30]})
print(dfangka)

   x   y
0  1  10
1  2  30

In [58]:
def square(x): 
  return x * x

dfsquare = dfangka.apply(square)
print(dfsquare)

   x    y
0  1  100
1  4  900

## Praktik Pandas ke Data Real 
import data dari github dengan read csv dengan menggunakan browser

In [59]:
pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)

In [65]:
df= pd.read_csv('nba_all_elo.csv')

FileNotFoundError: ignored

In [60]:
import requests

In [62]:
response = requests.get(download_url)

NameError: ignored

## Preparation Setting Database 
create database mysql

In [66]:
pip install sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.40)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.1)

In [67]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.5 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [68]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
pip install